

<button mat-icon-button class="close-button" (click)="onClose()" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>



<h1>Add New Product</h1>
<div class="form-dialog">
    <form [formGroup]="productForm" autocomplete="off">
        <div class="input-fields">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Category</mat-label>
                <input matInput placeholder="Ex. Computer and Accessories" value={{categoryName}} readonly>
              </mat-form-field>
            <!-- <mat-error *ngIf="newcatform.controls['password'].invalid && newcatform.controls['password'].touched">
                {{ titleAlert }}
              </mat-error> -->
        </div>
        <div class="input-fields">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Product name</mat-label>
                <input matInput placeholder="Ex. Computer and Accessories" formControlName="name">
              </mat-form-field>
            <!-- <mat-error *ngIf="newcatform.controls['password'].invalid && newcatform.controls['password'].touched">
                {{ titleAlert }}
              </mat-error> -->
        </div>
        <div class="input-fields">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter a description</mat-label>
                <textarea matInput placeholder="Ex. Computer peripherals and components" formControlName="description"></textarea>
              </mat-form-field>
            <!-- <mat-error *ngIf="newcatform.controls['password'].invalid && newcatform.controls['password'].touched">
                {{ titleAlert }}
              </mat-error> -->
        </div>

        <div class="input-fields">
          <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Price(in Rs)</mat-label>
              <input matInput placeholder="Price" formControlName="price">
            </mat-form-field>
          <!-- <mat-error *ngIf="newcatform.controls['password'].invalid">
              {{ titleAlert }}
            </mat-error> -->
      </div>

      <div class="input-fields">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>In stock</mat-label>
            <input matInput placeholder="No. of units in stock" formControlName="instock">
          </mat-form-field>
        <!-- <mat-error *ngIf="newcatform.controls['password'].invalid && newcatform.controls['password'].touched">
            {{ titleAlert }}
          </mat-error> -->
    </div>


        <div class="actions">
            <button  (click)="addProduct()" [disabled]="!productForm.valid"  mat-raised-button color="primary">Add Product</button>
            <button class="cancelBtn" mat-raised-button (click)="clearMessage()" color="primary">Reset</button>
        </div>
        <p *ngIf="confirmMessage && confirmMessage.length>0" style=" font-size:small; color:limegreen;">
            {{confirmMessage}}
        </p>   
        <p style="font-size: small; float: left; color: darkred;">All fields are mandatory*</p>
    </form>
</div>

<!-- [disabled]="!productForm.valid" -->