
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1em;
}
.col-xs-12{
    margin-top: 1em;
}
.example-card {
    width: 25em;
    height: 20em;
    text-align: center;
  }
  button{
      width: 20em;
  }
  h3{
      color: dodgerblue;
  }
  