<app-toolbar></app-toolbar>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <mat-card class="example-card">
                <mat-card-title>
                    <h3>Login and avail exciting Offers!</h3>
                </mat-card-title>
                <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/user/home">Continue as User</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <mat-card class="example-card">
                <mat-card-title>
                    <h2>Admin Login</h2>
                </mat-card-title>
                <mat-card-actions>
                    <button mat-raised-button color="warn" (click)="adminLogin()">Login as Admin</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>