

.section{
    box-shadow: 0 4px 10px 0 #dedede;
    margin: 2em;
    height: 30em;
}

.example-card {
    width: 200px;
    height: 150px;
    margin-bottom: 8px;
    float: left;
    margin: 2em;
    border: 1px solid rgba(0, 162, 92, 0.097);
  }
 
button{
    align-items: baseline;
    border: 1px solid rgba(47, 111, 102, 0.248);
    width: 100%;
}
.top{
    height: 7em;
}
span{
    font-size: small;
}
.title{
    margin-left: 30px;
    text-decoration: underline;
    color: rgb(255, 89, 0);
}
.title-text{
    font-size: 3em;
    color: darkorange;
}
